<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>ToDo App</h1>
    <div style="display: flex;justify-content:center;">
        <form action="/logout" method="post">
            <button type="submit" style="cursor:pointer">logout</button>
        </form>
        <form action="/logout_from_all_devices" method="post">
            <button type="submit" style="cursor: pointer;">logout_from_all_devices</button>
        </form>
    </div>
    <form action="/create-item" method="post">
        <div><label for="">TotodoDo</label></div>
        <div><input type="text" name="todo" id="todo"></div>
        <div><button type="submit" id="click-me">Add todo</button></div>
    </form>

    <ul id="item-list"></ul>

    <button style="cursor: pointer;" id="show_more">Show more</button>
</body>
<script src="https://unpkg.com/axios@1.3.4/dist/axios.min.js" defer></script>
<script defer>
</script>
<script src="browser.js" defer></script>

</html>