<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/register" method="POST">
        <div><label for="name"></label>Name:</div>
        <div><input type="text" name="name"></div>
        <div><label for="email"></label>Email:</div>
        <div><input type="email" name="naemailme"></div>
        <div><label for="userName"></label>UserName:</div>
        <div><input type="text" name="userName"></div>
        <div><label for="password"></label>password:</div>
        <div><input type="password" name="password"></div>
        <div><button type="submit">submit</button></div>
    </form>
</body>

</html>